body{
  background-color: #001427;
  color:white ;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight:400;
    font-size: 40px;
}
h2 {
    font-family: "Oswald", sans-serif;
    font-weight:400;
    font-size: 35px;
}
p{
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}
a{
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  color:#B6C649 ;
  padding: 10px;
  ;
  
}
