body{
  background-color: #001427;
  color:white ;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  margin-top: 50px;
}
@view-transition{
  navigation: auto;
}


h1 {
    font-family: "Oswald", Sans-Serif;
    font-weight:300;
    font-size: 35px;
}
h2 {
    font-family: "Oswald", sans-serif;
    font-weight:300;
    font-size: 35px;
}
p{
  font-family: "Poppins", sans-serif;
  font-weight:400;
  font-size: 22px;
}
a{
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  color:#B6C649 ;
}
footer p{
    display = flex;
    position: fixed;
    bottom: 1px;
    margin-bottom: 0px;
    font-size:12px;
    width: 100%;
    text-align: centre;
    backdrop-filter: blur(2px);
}

header{
  display: flex;
  position: fixed;
  top: 0;
  left: 10;
  width: 100%;
  text-align: left;
  backdrop-filter: blur(2px);
  padding: 10px;
  gap:25px
  
}
a:link{
  color:#B6C649 ;
  text-decoration: none;
}
a:visited{
  color:#B6C649;
  text-decoration: none;
}
a:hover{
  color: white;
}